.side-nav-bar {
  height: 100vh;
  width: 250px;
  padding-top: 30px;

  .logo {
    width: 50px;
  }

  a {
    text-decoration: none;
  }

  .side-nav-item:hover {
    color: white;
    background-color: #4a5cf9;
    cursor: pointer;
  }
}
